{% extends 'store/base.html' %}
{% load static %}
{% block content %}


<h1 style="text-align: center"><b>About us</b></h1>
<br>

<div class="text-center">
<p>Welcome to our shopift ecommerce website! We specialize in selling a wide range of electronics for your home and office.

    Our selection includes the latest and greatest in technology, from smartphones and laptops to TVs and home appliances. We offer products from top brands at competitive prices, so you can shop with confidence.
    
    In addition to our wide selection of electronics, we also offer exceptional customer service. Our team of knowledgeable professionals is here to help you find the perfect products for your needs. We offer fast, free shipping on all orders, and we have a no-questions-asked return policy for your peace of mind.
    
    Thank you for choosing our ecommerce website for your electronics needs. We hope you have a great shopping experience and find everything you're looking for.</p>
</div>  

{% endblock content %}